<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <h2>Home of ninjas</h2>
    <%- include('./partials/nav.ejs') %>

    <h3>All blogs</h3>

    <% if(blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
            <h3><%= blog.title %></h3>
            <p><%= blog.snippet %></p>
        <% }) %>
    <% } else { %>
        <p>There are no blogs to display...</p>
    <% } %>
    <%- include('./partials/footer.ejs') %>
</body>
</html>